@define-mixin h1 {
    @mixin responsive font-size, 26, 52;

    line-height: 1.5;
    font-weight: 700;
}

@define-mixin h2 {
    @mixin responsive font-size, 22, 42;

    line-height: 1.5;
    font-weight: 700;
}

@define-mixin h3 {
    @mixin responsive font-size, 18, 32;

    line-height: 1.5;
    font-weight: 700;
}

@define-mixin h4 {
    @mixin responsive font-size, 18, 24;

    line-height: 1.1;
    font-weight: 600;
}

@define-mixin h5 {
    @mixin responsive font-size, 14, 20;

    line-height: 1.5;
    font-weight: 600;
}

@define-mixin h6 {
    @mixin responsive font-size, 12, 18;

    line-height: 1.2;
    font-weight: 600;
}

@define-mixin body {
    @mixin responsive font-size, 14, 14;

    line-height: 1.2;
    font-weight: 400;
}

@define-mixin small {
    @mixin responsive font-size, 12, 14;

    line-height: 1.1;
    font-weight: 400;
}
