.root {
    @mixin responsive gap, 20, 20;

    display: flex;
    flex-direction: column;
}

.title {
    @mixin h4;
}

.list {
    @mixin responsive gap, 5, 15;

    display: grid;
    grid-template-columns: repeat(5, 1fr);

    @media (max-width: $mobile) {
        display: flex;
        flex-wrap: wrap;
    }
}

.card[class] {
    height: 100%;
}