.root {
    @mixin transitionOptions;
    @mixin responsive border-radius, 999, 999;
    @mixin responsive gap, 5, 5;

    display: flex;
    justify-content: center;
    align-items: center;
    transition-property: all;

    &.dark {
        color: var(--color-text-on-accent);

        &:not(.blank) {
            background-color: var(--color-accent);
            border-color: var(--color-text-on-accent);
        }
    }

    &.light {
        color: var(--color-text-primary);

        &:not(.blank) {
            background-color: var(--color-gray-200);
            border-color: var(--color-text-on-accent);
        }
    }

    &:not(.blank) {
        @mixin responsive --border, 1, 1;

        border: var(--border) solid;

        @media (hover:hover) {
            &:hover {
                opacity: 0.6;
            }
        }
    }

    &.blank {
        @media (hover:hover) {
            &:not(:disabled):hover {
                color: var(--color-accent-hover);
            }
        }
    }

    &.s {
        @mixin small;
    }

    &.m {
        @mixin body;
    }

    &.l {
        @mixin h6;
    }

    &:not(.blank) {
        @mixin responsive padding-inline, 12, 16;
        @mixin responsive padding-block, 8, 8; 
    }
}