.root {
    @mixin responsive padding-block, 45, 60;
    @mixin responsive gap, 10, 100;

    display: grid;
    grid-template-columns: repeat(2, 1fr);

    @media (max-width: $mobile) {
        display: flex;
        flex-direction: column;
    }
}

.mainContent {
    @mixin responsive gap, 20, 30;

    display: flex;
    flex-direction: column;
}

.mobileMap {
    display: none;

    @media (max-width: $mobile) {
        display: block;
    }
}

.desktopMap[class] {
    @media (max-width: $mobile) {
        display: none;
    }
}