.root {
    @mixin responsive --first-col, 0, 340;
    @mixin responsive padding-block, 45, 60;
    @mixin responsive gap, 20, 40;

    display: grid;
    grid-template-columns: var(--first-col) auto;

    @media (max-width: $mobile) {
        display: flex;
        flex-direction: column;
    }
}

.contentWrapper {
    @mixin responsive gap, 30, 40;

    display: flex;
    flex-direction: column;
}

.divider {
    @mixin responsive height, 2, 2;

    background-color: var(--color-bg-tertiary);
    width: 100%;
}

.filters[class] {
    @media (max-width: $mobile) {
        display: none;
    }
}