.root {
    @mixin responsive gap, 10, 10;

    display: flex;
    align-items: center;

    &.withoutAddressOnMobile {
        @media (max-width: $mobile) {
            .verticalDivider,
            .address {
                display: none;
            }
        }
    }
}

.logo,
.address {
    @mixin transitionOptions;

    @media (hover:hover) {
        &:hover {
            opacity: 0.6;
        }
    }
}

.logo {
    @mixin h4;

    color: var(--color-accent);
}

.verticalDivider {
    @mixin responsive width, 1, 1;
    @mixin responsive height, 20, 20;

    background-color: var(--color-bg-elevated);
}

.address {
    @mixin small;
}