.root {
    display: flex;
    justify-content: space-between;
    align-items: end;

    @media (max-width: $mobile) {
        align-items: center;
    }
}

.title {
    @mixin h3;

    @media (max-width: $mobile) {
        @mixin h2;
    }
}

.icon {
    @mixin responsive width, 14, 14;
    @mixin responsive height, 14, 14;
}